{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <div id="content-main">

        <h1>{{ header }}</h1>

        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form action="" enctype="multipart/form-data" method="post">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
{% endblock %}